<?xml version="1.0"?>
<config>
    <modules>
        <VS7_DefValues>
            <version>0.1.0</version>
        </VS7_DefValues>
    </modules>
    <global>
        <models>
            <vs7_defvalues>
                <class>VS7_DefValues_Model</class>
                <resourceModel>vs7_defvalues_resource</resourceModel>
            </vs7_defvalues>
            <vs7_defvalues_resource>
                <class>VS7_DefValues_Model_Resource</class>
            </vs7_defvalues_resource>
        </models>
        <blocks>
            <vs7_defvalues>
                <class>VS7_DefValues_Block</class>
            </vs7_defvalues>
        </blocks>
        <helpers>
            <vs7_defvalues>
                <class>VS7_DefValues_Helper</class>
            </vs7_defvalues>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <vs7_defvalues>
                        <class>VS7_DefValues_Model_Observer</class>
                        <method>addDefValuesColumn</method>
                    </vs7_defvalues>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vs7_defvalues before="Mage_Adminhtml">VS7_DefValues_Adminhtml</vs7_defvalues>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>